<!DOCTYPE html>
<html>
<head> 
	<title> Five Images </title>
</head>
<body>
	<h2> Hi again! </h2>
	<h3> Here are those other 5 images... </h3>


	<!-- br is a line break -->
	<br>

	<figure>
		<img src="../images/Sisters.jpg"alt="sisters" width="600" height="750" alt= "Me and my sisters when we were younger"> 
		<figcaption> I am the oldest of 3 girls, my sisters mean the world to me and I wouldn't be who I am without them.</figcaption>
	</figure>

	<figure>
		<img src="../images/drawing.jpg"alt="drawing" width="600" height="750" alt="Drawing has been a major way how I express myself">
		<figcaption>I love to draw, when I was in middle school I use to have nike sneakers that made me feel like the coolest person ever.
		</figcaption>
	</figure>

	<figure>
		<img src="../images/Frida.jpg"alt="Frida" width="600" height="750" alt="One many drawing of Frida Kahlo.">
		<figcaption>She inspired me as a artist when I was younger.</figcaption>
	</figure>

	<figure>
		<img src="../images/Domino.jpg"alt="Domino" width="800" height="750" alt="I love parks.">
		<figcaption>This is an image of a bench I sit on a lot when I have to seriously think about my life.</figcaption>
	</figure>

	<figure>
		<img  src="../images/SubwayGuy.jpg" alt="Subwayguy" width="600" height="600" alt="I love and hate the MTA">
		<figcaption>This image represents me because I saw this guy on the subway, and it just motivates me to one day create subway art, designs, or advertisements that won't make people sleep and wish they weren't on the train.</figcaption>
	</figure>

	

	<a href="../index.html">Go Back</a>


</body>
</html>