<!DOCTYPE html>
<html>
<head> 
	<title> Five Images </title>
</head>
<body>
	<h2> Hi again! </h2>
	<h3> Here are those other 5 images... </h3>

	<!-- br is a line break -->
	<br>

	<figure>
		<img src="file:///Users/sandracruz/Desktop/Assignment2/images/Sisters.jpg"alt="sisters" width="600" height="750">
		<figcaption> I am the oldest of 3 girls, my sisters mean the world to me and I wouldn't be who I am without them.</figcaption>
	</figure>

	<figure>
		<img src="file:///Users/sandracruz/Desktop/Assignment2/images/drawing.jpg"alt="drawing" width="600" height="750">
		<figcaption>I love to draw, when I was in middle school I use to have nike sneakers that made me feel like the coolest person ever.
		</figcaption>
	</figure>

	<figure>
		<img src="file:///Users/sandracruz/Desktop/Assignment2/images/Frida.jpg"alt="Frida" width="600" height="750">
		<figcaption>She inspired me as a artist when I was younger.</figcaption>
	</figure>

	<figure>
		<img src="file:///Users/sandracruz/Desktop/Assignment2/images/Domino.jpg"alt="Domino" width="800" height="750">
		<figcaption>This is an image of a bench I sit on a lot when I have to seriously think about my life.</figcaption>
	</figure>

	<figure>
		<img  src="file:///Users/sandracruz/Desktop/Assignment2/images/SubwayGuy.jpg" alt="Subwayguy" width="600" height="600"><br>
		<figcaption>This image represents me because I saw this guy on the subway, and it just motivates me to one day create subway art, designs, or advertisements that won't make people sleep and wish they weren't on the train.</figcaption>
	</figure>
	

	<button onclick="goBack()">Go Back</button>

	<script>
	function goBack() {
    window.history.back();
	}
	</script>


	</script>
</body>
</html>